# Rust target
/target

# direnv
**shell.nix
**.envrc

# Nix target
/result

# Emacs tempfiles
**#
**~

# latex compiler stuff
**/*.aux
**/*.fdb_latexmk
**/*.fls
**/*.log
**/*.out
**/*.pdf
**/*.synctex.gz
**/*.bbl
**/*.blg
**/*.tdo
**/*.toc
