# Rust target
/target

# direnv
**shell.nix
**.envrc

# Nix target
/result
/result-bin

# Emacs tempfiles
**#
**~

# latex compiler stuff
**/*.aux
**/*.fdb_latexmk
**/*.fls
**/*.log
**/*.out
**/*.pdf
**/*.synctex.gz
***/*.synctex(busy)
**/*.bbl
**/*.blg
**/*.tdo
**/*.toc
**/*.bcf
**/*.run.xml

# Built PDFs
!doc/pdf/**

# Local S2E copy
/s2e

# Cache signing key
eurydice-private-key

# C/C++ object files
**/*.o
**/*.so
**/*.a
**/Test
**/a.out
**/overrun
compile_flags.txt
**/TAGS
**/tags
/crates/AmbaPlugin/libamba_impure
